<h1 class="text-center"><%= @artist.name %></h1>


<%= image_tag @artist.picture, class: "img img-circle img-center" %>
<p><%= @artist.name %></p>
<p>born: <%= @artist.born.to_date %></p>
<p>died: <%= @artist.died.to_date %></p>
<p>About the artist: <%= @artist.bio %></p>

<h4>Songs</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <li><%=link_to song.title, song_path(song.id) %></li>
    <% end %>
  </ul>
<% else %>
  <p>This artist doesn't have any songs.</p>
<% end %>

<%= link_to "Add a Song", new_song_path, class: " btn btn-default" %>
<%= link_to "Delete", artist_path(@artist.id), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
